
@keyframes shakeError {
  0% {
    transform: translateX(0)
  }

  15% {
    transform: translateX(.375rem)
  }

  30% {
    transform: translateX(-.375rem)
  }

  45% {
    transform: translateX(.375rem)
  }

  60% {
    transform: translateX(-.375rem)
  }

  75% {
    transform: translateX(.375rem)
  }

  90% {
    transform: translateX(-.375rem)
  }

  to {
    transform: translateX(0)
  }
}

.form-group__message {
    font-size: .75rem;
    line-height: 1;
    display: none;
    margin-left: 14px;
    margin-top: -1.6875rem;
    margin-bottom: .9375rem
}

.form-group--alert,.form-group--error {
    animation-name: shakeError;
    animation-fill-mode: forward;
    animation-duration: .6s;
    animation-timing-function: ease-in-out
}
.form-group--success .form__label,.form-group--success .form__label--inline {
    color: #43ac6a
}

.form-group--success .form-group__addon {
    color: #fff;
    border-color: #85d0a1;
    background: #85d0a1
}

.form-group--success input,.form-group--success input:focus,.form-group--success input:hover,.form-group--success textarea {
    border-color: #85d0a1
}

.form-group--success+.form-group__message {
    display: block;
    color: #73c893
}

.form-group--error .form__label,.form-group--error .form__label--inline {
    color: #f04124
}

.form-group--error .form-group__addon {
    color: #fff;
    border-color: #f79483;
    background: #f79483
}

.form-group--error input,.form-group--error input:focus,.form-group--error input:hover,.form-group--error textarea {
    border-color: #f79483
}

.form-group--error input::-webkit-input-placeholder,
.form-group--error textarea::-webkit-input-placeholder {
    color: #f79483
}

.form-group--error+.form-group__message {
    display: block;
    color: #f57f6c
}

.form-group--alert .form__label,.form-group--alert .form__label--inline {
    color: #f08a24
}

.form-group--alert .form-group__addon {
    color: #fff;
    border-color: #f7bd83;
    background: #f7bd83
}

.form-group--alert input,.form-group--alert input:focus,.form-group--alert input:hover,.form-group--alert textarea {
    border-color: #f7bd83
}

.form-group--alert+.form-group__message {
    display: block;
    color: #f5b06c
}